<h3> Total Characters: <%= @characters.count %> </h3>
<% @characters.first(25).each do |character| %>
  Name: <%= character.name%><br>
  Allies: <%= character.get_allies%><br>
  Enemies: <%= character.get_enemies%><br>
  Affiliation: <%= character.affiliation%><br>
  <%= image_tag "#{character.photo_url}" %><br>
<% end %>